# Python
__pycache__/
*.pyc
*.py[cod]
*.log
.venv/
venv/
env/

# Node
node_modules/
dist/
.npm-cache/
.vite/
**/.vite/

# Env
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
